[Unit]
Description = gpuplugd host server

[Service]
ExecStart = /usr/local/bin/gpuplugd -c /etc/gpuplugd.conf

[Install]
WantedBy = multi-user.target
